/* a todas las intrucciones del HTML que inicien por <h1> da este color
h1 {
    color: lightcoral;
} */

/* a la class title da estas caracteristicas, por ser class inicia con .
.classtitlecss {
    color: blueviolet;
} */

/* al id title da estas caracteristicas, por ser id inicia con #
#idtitlecss {
    color: blueviolet;
    text-transform: uppercase;
} */

/*           CONFIGURACION CSS DE LA PRIMERA PAGINA MASCOTAS   */

@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@1,300&display=swap';

body {
    background-color: darkmagenta; 
    font-family: 'Poppins', sans-serif;
    margin: -30px;
}

#choice_pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.classh1title {
    color: lightblue;
    font-size: 100px;
    height: 50px;
    font-family: 'Fredoka One', cursive;
}

.classh2subtitle {
    color: lightblue;
    font-size: 20px
}

.classdivchoicepet {
    display: flex;
    gap: 1px;
}



.classlabelchoicepet {
    width: 250px;
    height: 100px;
    background: #a1586f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
        /*    border: 1px solid black;  tamaño, tipo de vista, color */
}

input {
    display: none;
    /*  para que no muestre los radiobutton */
}

input:checked + label{
    background: #9400d3;
}

.classimgpet {
    width: 120px;
    padding: 20px;
}

.classbuttonpet {
    /*    otras opciones
    background: none;
    margin: 30px 20px 10px 5px;
    box-sizing: border-box;    
    
    border-style: double;
    border: 1px solid lightblue; */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: lightblue;
    border-radius: 20px;
    background: transparent;
    border: 1px solid lightblue;
    width: 850px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    /*    margin: 1px 1px 1px 1px; 
      margin-top: 1px;  left bottom right */

}

.classptitlepets {
    margin-left: 10px;
}

/*           CONFIGURACION CSS DE LA SEGUNDA PAGINA ATAQUES   */

#choice_attack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.classlabelchoiceattack {
    width: 350px;
    height: 100px;
    background: #a1586f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
        /*    border: 1px solid black;  tamaño, tipo de vista, color */
}

.buttonattack {
    background-color: #a1586f;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20 px;
    color: #fff;
    width: 145px;
}

.buttonattackenemy {
    background-color: #a1586f;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20 px;
    color: #fff;
    width: 145px;
}

#Messages {
    width: 450px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkviolet;
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.divmessages {
    display: flex;
    /*     flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.classimgpetattack {
    width: 70px;
    padding: 20px;
}

#messagesattack {
    width: 350px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkviolet;
    color: #eee;
}

.classdivchoicepetattack {
    display: flex;
    margin-top: -50px;
    color: #eee;
    font-size: 22px;
}

.classh2subtitleattack {
    color: lightblue;
    font-size: 20px;
    margin-top: -10px;
}

.classdivchoicepeth2attackgamer {
    display: flex;
    gap: 10px;
    margin-top: -15px;
    padding: 10px;
}

.classdivchoicepeth2attackenemy {
    display: flex;
    gap: 10px;
    margin-top: -15px;
    padding: 10px;
}

.classbuttonResetGame {
    width: 100px;
    height: 100px;
/*    padding: 10px;  */
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkviolet;
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/* para grid 
.ataques {
    display: flex;
    margin-top: -50px;
    color: #eee;
    font-size: 22px; 
    display: grid;
    grid-template-columns: 100px 100px;    
}*/ 

/* 
.ataques-jugador, ataques-enemigo {  /* adopta las caracteristicas de FLEX o GRID, por ser hijo, adopta las carac. FLEX  
      display: flex;
      flex-direction: column;
      align-items: center;
}*/ 

#imagegamer{
    width: 70px;
}

#imageenemy{
    width: 70px;
}

@media (max-width: 900px) {

    /*max-width: hasta este tamaño, haga esto. desde 0 hasta 360px
                             se trabajan las clases del html*/
    .classdivchoicepet {

        flex-direction: column;
        /* solo se ajustan las propiedades que cambien en este caso se colocan en columnas*/
    }

    .classh1title {
        font-size: 50px;
    }

    .classbuttonpet {
        width: 300px;
    }

    .classdivchoicepetattack {
        flex-direction: column;
        margin-top: -20px;
    }

    .classdivchoicepeth2attackgamer {
        flex-direction: column;
    }

    .classdivchoicepeth2attackenemy {
        flex-direction: column;
    }    
}
